{% extends "layout.njk" %}

{% block content %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  {% asyncAll item in groups %}
    <hr>
    {{ item | lookup }}
    <hr>
  {% endall %}

  {% asyncEach item in groups %}
    <hr>
    {{ item | lookup }}
    <hr>
  {% endeach %}
{% endblock %}